@font-face {
  font-family: Orbitron;
  src: url(../Fonts/Orbitron-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron !important;
  outline: none !important;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0px 20px;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
header nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  cursor: pointer;
}
header nav .logo a:hover svg path:nth-child(2) {
  fill: #57b8ff;
  transition: 0.4s;
}
header nav .nav-items {
  display: flex;
  align-items: center;
  gap: 60px;
}
header nav .nav-items .nav-item a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
header nav .nav-items .nav-item a:hover {
  color: #fac422;
  transition: 0.5s;
}
header nav .nav-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .nav-buttons i {
  color: #fff;
  padding: 6px;
  cursor: pointer;
}
header nav .nav-buttons i:hover {
  color: #fac422;
}
header nav .nav-buttons button {
  padding: 16px 32px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
header nav .nav-buttons button:hover {
  background-color: #fac422;
  transition: 0.5s;
}

main .home .home-content .colors {
  display: flex;
}
main .home .home-content .colors .left-color {
  padding: 240px 0 200px 0;
  min-width: 50%;
  background: #000000;
}
main .home .home-content .colors .left-color .left-content {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
main .home .home-content .colors .left-color .left-content .fire-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .home .home-content .colors .left-color .left-content .fire-text p {
  color: #57b8ff;
}
main .home .home-content .colors .left-color .left-content h5 {
  color: #fff;
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
}
main .home .home-content .colors .left-color .left-content h5 span {
  display: flex;
  flex-direction: column;
}
main .home .home-content .colors .left-color .left-content p {
  padding-top: 43px;
  padding-bottom: 53px;
  color: #999999;
  max-width: 560px;
}
main .home .home-content .colors .left-color .left-content .btns-home {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .home .home-content .colors .left-color .left-content .btns-home button:first-child {
  background-color: #57b8ff;
  padding: 12px 34px;
  border: 1px solid #fff;
  color: #fff;
}
main .home .home-content .colors .left-color .left-content .btns-home button:first-child:hover {
  background: transparent;
  transition: 0.4s;
  border: 1px solid transparent;
}
main .home .home-content .colors .left-color .left-content .btns-home button:last-child {
  background: transparent;
  padding: 12px 34px;
  color: #fff;
  border: 1px solid transparent;
}
main .home .home-content .colors .left-color .left-content .btns-home button:last-child:hover {
  background: #57b8ff;
  border: 1px solid #fff;
  transition: 0.4s;
}
main .home .home-content .colors .right-color {
  padding: 240px 0 200px 0;
  min-width: 50%;
  background: #57b8ff;
}
main .our {
  background: #fdd04a;
}
main .our .our-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .our .our-content .title {
  display: grid;
  place-items: center;
  padding: 128px 0px;
}
main .our .our-content .title h1 {
  font-size: 48px;
  font-weight: 400;
}
main .our .our-content .title img {
  max-width: 292px;
  padding-bottom: 27px;
}
main .our .our-content .title p {
  text-align: center;
  max-width: 576px;
}
main .our .our-content .logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 130px;
}
main .our .our-content .logos .our-logo:hover svg g path:nth-child(3), main .our .our-content .logos .our-logo:hover svg g path:nth-child(4), main .our .our-content .logos .our-logo:hover svg g path:nth-child(5), main .our .our-content .logos .our-logo:hover svg g path:nth-child(6), main .our .our-content .logos .our-logo:hover svg g path:nth-child(7), main .our .our-content .logos .our-logo:hover svg g path:nth-child(8), main .our .our-content .logos .our-logo:hover svg g path:nth-child(9), main .our .our-content .logos .our-logo:hover svg g path:nth-child(10), main .our .our-content .logos .our-logo:hover svg g path:nth-child(11), main .our .our-content .logos .our-logo:hover svg g path:nth-child(12), main .our .our-content .logos .our-logo:hover svg g path:nth-child(13), main .our .our-content .logos .our-logo:hover svg g path:nth-child(14), main .our .our-content .logos .our-logo:hover svg g path:nth-child(15), main .our .our-content .logos .our-logo:hover svg g path:nth-child(16), main .our .our-content .logos .our-logo:hover svg g path:nth-child(17), main .our .our-content .logos .our-logo:hover svg g path:nth-child(18) {
  fill: #fac422;
  transition: 0.4s;
}
main .game {
  background-image: url(../images/game-bg.png);
  width: 100%;
  min-height: 1072px;
  background-size: cover;
  background-repeat: no-repeat;
}
main .game .game-content .game-title {
  display: grid;
  place-items: center;
  padding: 130px 0 64px 0;
}
main .game .game-content .game-title .fire-text {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 12px;
}
main .game .game-content .game-title .fire-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #57b8ff;
  padding-top: 10px;
}
main .game .game-content .game-title h1 {
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  max-width: 716px;
  color: #fff;
}
main .game .game-content .game-title p {
  padding-top: 40px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
  max-width: 698px;
}
main .game .game-content .game-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
main .game .game-content .game-cards .game-card {
  max-width: 630px;
  min-height: 212px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1490196078);
}
main .game .game-content .game-cards .game-card .card-texts {
  padding: 36px;
}
main .game .game-content .game-cards .game-card .card-texts .text {
  display: flex;
  gap: 18px;
}
main .game .game-content .game-cards .game-card .card-texts .text h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  color: #fff;
  height: 48px;
  top: -0.42px;
  padding-bottom: 20px;
}
main .game .game-content .game-cards .game-card .card-texts p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
  max-width: 515.28px;
  padding-left: 52px;
}
main .era {
  background-color: #030303;
}
main .era .era-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 86px 0;
}
main .era .era-content .era-text .fire-text {
  display: flex;
  align-items: center;
  gap: 14px;
}
main .era .era-content .era-text .fire-text p {
  color: #57b8ff;
  padding-top: 50px;
}
main .era .era-content .era-text h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  text-align: left;
  color: #fff;
  max-width: 684px;
  padding: 12px 0 38px 0;
}
main .era .era-content .era-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  max-width: 721px;
  color: rgba(223, 223, 223, 0.8);
  padding-bottom: 54px;
}
main .era .era-content .era-text button {
  border: none;
  color: #fff;
  background-color: #57b8ff;
  padding: 21px 34px;
  font-size: 18px;
  border: 1px solid #57b8ff;
}
main .era .era-content .era-text button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.4s;
}
main .choose .choose-content {
  display: flex;
  align-items: center;
}
main .choose .choose-content .card-1 {
  display: flex;
  flex-basis: 33%;
  background-image: url(../images/card-1.png);
  width: 480px;
  height: 732px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .choose .choose-content .card-1 img {
  width: 128px;
  height: 128px;
  position: relative;
  top: 35%;
  left: 39%;
}
main .choose .choose-content .card-1 h1 {
  width: 128px;
  height: 128px;
  position: relative;
  top: 55%;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  width: 336px;
}
main .choose .choose-content .card-2 {
  display: flex;
  flex-basis: 34%;
  background-image: url(../images/card-2.png);
  width: 480px;
  height: 732px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .choose .choose-content .card-2 img {
  width: 128px;
  height: 128px;
  position: relative;
  top: 35%;
  left: 39%;
}
main .choose .choose-content .card-2 h1 {
  width: 128px;
  height: 128px;
  position: relative;
  top: 55%;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  width: 336px;
}
main .choose .choose-content .card-3 {
  display: flex;
  flex-basis: 33%;
  background-image: url(../images/card-3.png);
  width: 480px;
  height: 732px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .choose .choose-content .card-3 img {
  width: 128px;
  height: 128px;
  position: relative;
  top: 35%;
  left: 39%;
}
main .choose .choose-content .card-3 h1 {
  width: 128px;
  height: 128px;
  position: relative;
  top: 55%;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  width: 336px;
}
main .news {
  background-color: #000;
}
main .news .news-content {
  padding: 80px 0;
}
main .news .news-content h4 {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #57b8ff;
}
main .news .news-content h4 span {
  font-size: 24px;
}
main .news .news-content h1 {
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}
main .news .news-content .news-title {
  display: flex;
  justify-content: space-between;
}
main .news .news-content .news-title h1 {
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}
main .news .news-content .news-title button {
  font-size: 17px;
  background-color: #57b8ff;
  padding: 0px 34px;
  color: #fff;
  border: 1px solid #57b8ff;
}
main .news .news-content .news-title button:hover {
  background-color: transparent;
  transition: 0.3s;
  border-color: #fff;
}
main .news .news-content .all-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  gap: 8%;
}
main .news .news-content .all-cards .big-card {
  max-width: 648px;
}
main .news .news-content .all-cards .big-card img {
  padding-bottom: 54px;
}
main .news .news-content .all-cards .big-card h5 {
  padding-bottom: 24px;
  font-size: 18px;
  color: #57b8ff;
}
main .news .news-content .all-cards .big-card h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  line-height: 46px;
}
main .news .news-content .all-cards .mini-cards {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 40px;
}
main .news .news-content .all-cards .mini-cards .mini-card {
  max-width: 312px;
}
main .news .news-content .all-cards .mini-cards .mini-card h5 {
  color: #57b8ff;
  padding: 30px 0px 20px 0;
}
main .news .news-content .all-cards .mini-cards .mini-card h3 {
  font-size: 23px;
  font-weight: 400;
  color: #fff;
}

footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
footer .footer-content {
  padding: 120px 0;
  text-align: center;
  max-width: 847px;
}
footer .footer-content h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  padding-bottom: 32px;
}
footer .footer-content p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: #555;
}
footer .footer-content .p {
  padding-bottom: 44px;
}
footer .footer-content .input {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-content .input input {
  border: 1px solid #cccccc;
  font-size: 18px;
  font-weight: 700;
  padding: 21px 188px 21px 14px;
  color: #555;
}
footer .footer-content .input button {
  padding: 21px 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #57b8ff;
  border: 0;
}/*# sourceMappingURL=index.css.map */