@font-face {
  font-family: Orbitron;
  src: url(../Fonts/Orbitron-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron !important;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0px 20px;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
header nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  cursor: pointer;
}
header nav .logo a:hover svg path:nth-child(2) {
  fill: #57b8ff;
  transition: 0.4s;
}
header nav .nav-items {
  display: flex;
  align-items: center;
  gap: 60px;
}
header nav .nav-items .nav-item a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
header nav .nav-items .nav-item a:hover {
  color: #fac422;
  transition: 0.5s;
}
header nav .nav-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .nav-buttons i {
  color: #fff;
  padding: 6px;
  cursor: pointer;
}
header nav .nav-buttons i:hover {
  color: #fac422;
}
header nav .nav-buttons button {
  padding: 16px 32px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
header nav .nav-buttons button:hover {
  background-color: #fac422;
  transition: 0.5s;
}

main .home .home-content .colors {
  display: flex;
}
main .home .home-content .colors .left-color {
  padding: 240px 0 200px 0;
  min-width: 50%;
  background: #000000;
}
main .home .home-content .colors .left-color .left-content {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
main .home .home-content .colors .left-color .left-content .fire-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .home .home-content .colors .left-color .left-content .fire-text p {
  color: #57b8ff;
}
main .home .home-content .colors .left-color .left-content h5 {
  color: #fff;
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
}
main .home .home-content .colors .left-color .left-content h5 span {
  display: flex;
  flex-direction: column;
}
main .home .home-content .colors .left-color .left-content p {
  padding-top: 43px;
  padding-bottom: 53px;
  color: #999999;
  max-width: 560px;
}
main .home .home-content .colors .left-color .left-content .btns-home {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .home .home-content .colors .left-color .left-content .btns-home button:first-child {
  background-color: #57b8ff;
  padding: 12px 34px;
  border: 1px solid #fff;
  color: #fff;
}
main .home .home-content .colors .left-color .left-content .btns-home button:first-child:hover {
  background: transparent;
  transition: 0.4s;
}
main .home .home-content .colors .left-color .left-content .btns-home button:last-child {
  background: transparent;
  padding: 12px 34px;
  color: #fff;
  border: 1px solid transparent;
}
main .home .home-content .colors .left-color .left-content .btns-home button:last-child:hover {
  background: #57b8ff;
  border: 1px solid #fff;
  transition: 0.4s;
}
main .home .home-content .colors .right-color {
  padding: 240px 0 200px 0;
  min-width: 50%;
  background: #57b8ff;
}
main .our {
  background: #fdd04a;
}
main .our .our-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .our .our-content .title {
  display: grid;
  place-items: center;
  padding: 128px 0px;
}
main .our .our-content .title h1 {
  font-size: 48px;
  font-weight: 400;
}
main .our .our-content .title img {
  max-width: 292px;
  padding-bottom: 27px;
}
main .our .our-content .title p {
  text-align: center;
  max-width: 576px;
}
main .our .our-content .logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 130px;
}
main .our .our-content .logos .our-logo:hover svg g path:nth-child(3), main .our .our-content .logos .our-logo:hover svg g path:nth-child(4), main .our .our-content .logos .our-logo:hover svg g path:nth-child(5), main .our .our-content .logos .our-logo:hover svg g path:nth-child(6), main .our .our-content .logos .our-logo:hover svg g path:nth-child(7), main .our .our-content .logos .our-logo:hover svg g path:nth-child(8), main .our .our-content .logos .our-logo:hover svg g path:nth-child(9), main .our .our-content .logos .our-logo:hover svg g path:nth-child(10), main .our .our-content .logos .our-logo:hover svg g path:nth-child(11), main .our .our-content .logos .our-logo:hover svg g path:nth-child(12), main .our .our-content .logos .our-logo:hover svg g path:nth-child(13), main .our .our-content .logos .our-logo:hover svg g path:nth-child(14), main .our .our-content .logos .our-logo:hover svg g path:nth-child(15), main .our .our-content .logos .our-logo:hover svg g path:nth-child(16), main .our .our-content .logos .our-logo:hover svg g path:nth-child(17), main .our .our-content .logos .our-logo:hover svg g path:nth-child(18) {
  fill: #fac422;
  transition: 0.4s;
}/*# sourceMappingURL=index.css.map */