@font-face {
  font-family: Orbitron;
  src: url(../Fonts/Orbitron-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron !important;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0px 20px;
}

// body {
//  background-color: #5b5757;
// }

header {
  // background-color: #57b8ff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      cursor: pointer;
      a:hover {
        svg path:nth-child(2) {
          fill: #57b8ff;
          transition: 0.4s;
        }
      }
    }
    .nav-items {
      display: flex;
      align-items: center;
      gap: 60px;
      .nav-item a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #fac422;
          transition: 0.5s;
        }
      }
    }
    .nav-buttons {
      display: flex;
      align-items: center;
      gap: 24px;
      i {
        color: #fff;
        padding: 6px;
        cursor: pointer;
        &:hover {
          color: #fac422;
        }
      }
      button {
        padding: 16px 32px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #fac422;
          transition: 0.5s;
        }
      }
    }
  }
}

main {
  .home {
    .home-content {
      .colors {
        display: flex;
        .left-color {
          padding: 240px 0 200px 0;
          min-width: 50%;
          background: #000000;
          .left-content {
            display: flex;
            flex-direction: column;
            padding-left: 60px;
            .fire-text {
              display: flex;
              align-items: center;
              gap: 8px;
              p {
                color: #57b8ff;
              }
            }
            h5 {
              color: #fff;
              font-size: 72px;
              font-weight: 400;
              line-height: 86px;
              span {
                display: flex;
                flex-direction: column;
              }
            }
            p {
              padding-top: 43px;
              padding-bottom: 53px;
              color: #999999;
              max-width: 560px;
            }
            .btns-home {
              display: flex;
              align-items: center;
              gap: 20px;
              button:first-child {
                background-color: #57b8ff;
                padding: 12px 34px;
                border: 1px solid #fff;
                color: #fff;
                &:hover {
                  background: transparent;
                  transition: 0.4s;
                  border: 1px solid transparent;
                }
              }
              button:last-child {
                background: transparent;
                padding: 12px 34px;
                color: #fff;
                border: 1px solid transparent;
                &:hover {
                  background: #57b8ff;
                  border: 1px solid #fff;
                  transition: 0.4s;
                }
              }
            }
          }
        }
        .right-color {
          padding: 240px 0 200px 0;
          min-width: 50%;
          background: #57b8ff;
        }
      }
    }
  }
  .our {
    background: #fdd04a;
    .our-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .title {
        display: grid;
        place-items: center;
        padding: 128px 0px;
        h1 {
          font-size: 48px;
          font-weight: 400;
        }
        img {
          max-width: 292px;
          padding-bottom: 27px;
        }
        p {
          text-align: center;
          max-width: 576px;
        }
      }
      .logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 130px;
        .our-logo {
          &:hover svg g path:nth-child(3),
          &:hover svg g path:nth-child(4),
          &:hover svg g path:nth-child(5),
          &:hover svg g path:nth-child(6),
          &:hover svg g path:nth-child(7),
          &:hover svg g path:nth-child(8),
          &:hover svg g path:nth-child(9),
          &:hover svg g path:nth-child(10),
          &:hover svg g path:nth-child(11),
          &:hover svg g path:nth-child(12),
          &:hover svg g path:nth-child(13),
          &:hover svg g path:nth-child(14),
          &:hover svg g path:nth-child(15),
          &:hover svg g path:nth-child(16),
          &:hover svg g path:nth-child(17),
          &:hover svg g path:nth-child(18) {
            fill: #fac422;
            transition: 0.4s;
          }
        }
      }
    }
  }
  .game {
    background-image: url(../images/game-bg.png);
    width: 100%;
    min-height: 1072px;
    background-size: cover;
    background-repeat: no-repeat;
    .game-content {
      .game-title {
        display: grid;
        place-items: center;
        padding: 130px 0 64px 0;
        .fire-text {
          display: flex;
          align-items: center;
          gap: 8px;
          padding-bottom: 12px;
          p {
            font-family: Orbitron;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: center;
            color: #57b8ff;
          }
        }
        h1 {
          font-size: 64px;
          font-weight: 400;
          text-align: center;
          max-width: 716px;
          color: #fff;
        }
        p {
          padding-top: 40px;
          font-size: 20px;
          font-weight: 400;
          text-align: center;
          color: #dfdfdfcc;
          max-width: 698px;
        }
      }
      .game-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        .game-card {
          max-width: 630px;
          min-height: 212px;
          border-radius: 20px;
          background: #ffffff26;
          .card-texts {
            padding: 36px;
            display: flex;
            gap: 16px;
            .text {
              h2 {
                font-size: 32px;
                font-weight: 400;
                line-height: 42px;
                text-align: left;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
