@font-face {
  font-family: Orbitron;
  src: url(../Fonts/Orbitron-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron !important;
  outline: none !important;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0px 20px;
}

// body {
//  background-color: #5b5757;
// }

header {
  // background-color: #57b8ff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      cursor: pointer;
      a:hover {
        svg path:nth-child(2) {
          fill: #57b8ff;
          transition: 0.4s;
        }
      }
    }
    .nav-items {
      display: flex;
      align-items: center;
      gap: 60px;
      .nav-item a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #fac422;
          transition: 0.5s;
        }
      }
    }
    .nav-buttons {
      display: flex;
      align-items: center;
      gap: 24px;
      i {
        color: #fff;
        padding: 6px;
        cursor: pointer;
        &:hover {
          color: #fac422;
        }
      }
      button {
        padding: 16px 32px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #fac422;
          transition: 0.5s;
        }
      }
    }
  }
}

main {
  .home {
    .home-content {
      .colors {
        display: flex;
        .left-color {
          padding: 240px 0 200px 0;
          min-width: 50%;
          background: #000000;
          .left-content {
            display: flex;
            flex-direction: column;
            padding-left: 60px;
            .fire-text {
              display: flex;
              align-items: center;
              gap: 8px;
              p {
                color: #57b8ff;
              }
            }
            h5 {
              color: #fff;
              font-size: 72px;
              font-weight: 400;
              line-height: 86px;
              span {
                display: flex;
                flex-direction: column;
              }
            }
            p {
              padding-top: 43px;
              padding-bottom: 53px;
              color: #999999;
              max-width: 560px;
            }
            .btns-home {
              display: flex;
              align-items: center;
              gap: 20px;
              button:first-child {
                background-color: #57b8ff;
                padding: 12px 34px;
                border: 1px solid #fff;
                color: #fff;
                &:hover {
                  background: transparent;
                  transition: 0.4s;
                  border: 1px solid transparent;
                }
              }
              button:last-child {
                background: transparent;
                padding: 12px 34px;
                color: #fff;
                border: 1px solid transparent;
                &:hover {
                  background: #57b8ff;
                  border: 1px solid #fff;
                  transition: 0.4s;
                }
              }
            }
          }
        }
        .right-color {
          padding: 240px 0 200px 0;
          min-width: 50%;
          background: #57b8ff;
        }
      }
    }
  }
  .our {
    background: #fdd04a;
    .our-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .title {
        display: grid;
        place-items: center;
        padding: 128px 0px;
        h1 {
          font-size: 48px;
          font-weight: 400;
        }
        img {
          max-width: 292px;
          padding-bottom: 27px;
        }
        p {
          text-align: center;
          max-width: 576px;
        }
      }
      .logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 130px;
        .our-logo {
          &:hover svg g path:nth-child(3),
          &:hover svg g path:nth-child(4),
          &:hover svg g path:nth-child(5),
          &:hover svg g path:nth-child(6),
          &:hover svg g path:nth-child(7),
          &:hover svg g path:nth-child(8),
          &:hover svg g path:nth-child(9),
          &:hover svg g path:nth-child(10),
          &:hover svg g path:nth-child(11),
          &:hover svg g path:nth-child(12),
          &:hover svg g path:nth-child(13),
          &:hover svg g path:nth-child(14),
          &:hover svg g path:nth-child(15),
          &:hover svg g path:nth-child(16),
          &:hover svg g path:nth-child(17),
          &:hover svg g path:nth-child(18) {
            fill: #fac422;
            transition: 0.4s;
          }
        }
      }
    }
  }
  .game {
    background-image: url(../images/game-bg.png);
    width: 100%;
    min-height: 1072px;
    background-size: cover;
    background-repeat: no-repeat;
    .game-content {
      .game-title {
        display: grid;
        place-items: center;
        padding: 130px 0 64px 0;
        .fire-text {
          display: flex;
          align-items: center;
          gap: 8px;
          padding-bottom: 12px;
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: #57b8ff;
            padding-top: 10px;
          }
        }
        h1 {
          font-size: 64px;
          font-weight: 400;
          text-align: center;
          max-width: 716px;
          color: #fff;
        }
        p {
          padding-top: 40px;
          font-size: 20px;
          font-weight: 400;
          text-align: center;
          color: #dfdfdfcc;
          max-width: 698px;
        }
      }
      .game-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        .game-card {
          max-width: 630px;
          min-height: 212px;
          border-radius: 20px;
          background: #ffffff26;
          .card-texts {
            padding: 36px;
            .text {
              display: flex;
              gap: 18px;
              h2 {
                font-size: 32px;
                font-weight: 400;
                line-height: 42px;
                text-align: left;
                color: #fff;
                height: 48px;
                top: -0.42px;
                padding-bottom: 20px;
              }
            }
            p {
              font-size: 18px;
              font-weight: 400;
              line-height: 28px;
              color: #dfdfdfcc;
              max-width: 515.28px;
              padding-left: 52px;
            }
          }
        }
      }
    }
  }
  .era {
    background-color: #030303;
    .era-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 86px 0;
      .era-text {
        .fire-text {
          display: flex;
          align-items: center;
          gap: 14px;
          p {
            color: #57b8ff;
            padding-top: 50px;
          }
        }
        h1 {
          font-size: 64px;
          font-weight: 400;
          line-height: 74px;
          text-align: left;
          color: #fff;
          max-width: 684px;
          padding: 12px 0 38px 0;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          max-width: 721px;
          color: #dfdfdfcc;
          padding-bottom: 54px;
        }
        button {
          border: none;
          color: #fff;
          background-color: #57b8ff;
          padding: 21px 34px;
          font-size: 18px;
          border: 1px solid #57b8ff;
          &:hover {
            background-color: transparent;
            border: 1px solid #fff;
            transition: 0.4s;
          }
        }
      }
    }
  }
  .choose {
    .choose-content {
      display: flex;
      align-items: center;
      .card-1 {
        display: flex;
        flex-basis: 33%;
        background-image: url(../images/card-1.png);
        width: 480px;
        height: 732px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        img {
          width: 128px;
          height: 128px;
          position: relative;
          top: 35%;
          left: 39%;
        }
        h1 {
          width: 128px;
          height: 128px;
          position: relative;
          top: 55%;
          font-size: 48px;
          font-weight: 400;
          text-align: center;
          color: #fff;
          width: 336px;
        }
      }
      .card-2 {
        display: flex;
        flex-basis: 34%;
        background-image: url(../images/card-2.png);
        width: 480px;
        height: 732px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        img {
          width: 128px;
          height: 128px;
          position: relative;
          top: 35%;
          left: 39%;
        }
        h1 {
          width: 128px;
          height: 128px;
          position: relative;
          top: 55%;
          font-size: 48px;
          font-weight: 400;
          text-align: center;
          color: #fff;
          width: 336px;
        }
      }
      .card-3 {
        display: flex;
        flex-basis: 33%;
        background-image: url(../images/card-3.png);
        width: 480px;
        height: 732px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        img {
          width: 128px;
          height: 128px;
          position: relative;
          top: 35%;
          left: 39%;
        }
        h1 {
          width: 128px;
          height: 128px;
          position: relative;
          top: 55%;
          font-size: 48px;
          font-weight: 400;
          text-align: center;
          color: #fff;
          width: 336px;
        }
      }
    }
  }
  .news {
    background-color: #000;
    .news-content {
      padding: 80px 0;
      h4 {
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: #57b8ff;
        span {
          font-size: 24px;
        }
      }
      h1 {
        font-size: 64px;
        font-weight: 400;
        color: #fff;
      }
      .news-title {
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 64px;
          font-weight: 400;
          color: #fff;
        }
        button {
          font-size: 17px;
          background-color: #57b8ff;
          padding: 0px 34px;
          color: #fff;
          border: 1px solid #57b8ff;
          &:hover {
            background-color: transparent;
            transition: 0.3s;
            border-color: #fff;
          }
        }
      }
      .all-cards {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        // flex-wrap: wrap;
        padding-top: 64px;
        gap: 8%;
        .big-card {
          max-width: 648px;
          img {
            padding-bottom: 54px;
          }
          h5 {
            padding-bottom: 24px;
            font-size: 18px;
            color: #57b8ff;
          }
          h2 {
            font-size: 36px;
            color: #fff;
            font-weight: 400;
            line-height: 46px;
          }
        }
        .mini-cards {
          display: flex;
          flex-wrap: wrap;
          column-gap: 24px;
          row-gap: 40px;
          .mini-card {
            max-width: 312px;
            h5 {
              color: #57b8ff;
              padding: 30px 0px 20px 0;
            }
            h3 {
              font-size: 23px;
              font-weight: 400;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  .footer-content {
    padding: 120px 0;
    text-align: center;
    max-width: 847px;
    h1 {
      font-size: 72px;
      font-weight: 400;
      line-height: 82px;
      padding-bottom: 32px;
    }
    p {
      font-size: 17px;
      font-weight: 400;
      line-height: 28px;
      color: #555;
    }
    .p {
      padding-bottom: 44px;
    }
    .input {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        border: 1px solid #cccccc;
        font-size: 18px;
        font-weight: 700;
        padding: 21px 188px 21px 14px;
        color: #555;
      }
      button {
        padding: 21px 8px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        background-color: #57b8ff;
        border: 0;
      }
    }
  }
}
